In [1]:
import sqlite3
import csv
import numpy as np
import pandas as pd

## Add a connection

In [6]:
conn = sqlite3.connect('energyindicators.sqlite')
cur = conn.cursor()

In [8]:
cur.execute('''
CREATE TABLE graduates(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    graduated INTEGER,
    school INTEGER
    )
    ''')

In [ ]:
cur.execute('''
INSERT INTO